$color1: #242836;
$color2: #161923;
$color3: #feea00;
$color4: rgba(36, 40, 54, 0.5);
$color5: #18151c;
$color6: rgba(24, 21, 28, 0.3);
$color7: rgba(255, 255, 255, 0.1);
$color8: #fad502;
$color9: #c56807;
$color10: rgba(255, 255, 255, 0.3);
