@import "_colors.scss";

$primary-linear-gradient: linear-gradient(7deg, $color8 10%, $color9 100%);

html {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    // background: $color1;
    background: $primary-linear-gradient;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    opacity: 0.5;
  }
}

%outline {
  content: "";
  pointer-events: none;
  position: absolute;
  border-radius: 14px;
  width: calc(100% + -1px);
  height: calc(100% + 1px);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.2);
}

%primary-text-gradient {
  background: $primary-linear-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-color: $color2;
}

button {
  cursor: pointer;
}

.fs-12 {
  font-size: 12px;
}

h1 {
  font-family: "poppins", sans-serif;
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 0.75rem;
}

h6 {
  font-size: 14px;

  &.small {
    font-size: 12px;
  }
}

p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;

  &.small {
    font-size: 10px;
  }

  &.light {
    opacity: 0.6;
  }
}

// /* The container */
// .checkbox-container {
//   display: block;
//   position: relative;
//   padding-left: 35px;
//   margin-bottom: 12px;
//   cursor: pointer;
//   font-size: 22px;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

// /* Create a custom checkbox */
// .checkmark {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 25px;
//   width: 25px;
//   background-color: #eee;
// }

// /* On mouse-over, add a grey background color */
// .checkbox-container:hover input ~ .checkmark {
//   background-color: #ccc;
// }

// /* When the checkbox is checked, add a blue background */
// .checkbox-container input:checked ~ .checkmark {
//   background-color: #2196f3;
// }

// /* Create the checkmark/indicator (hidden when not checked) */
// .checkmark:after {
//   content: "";
//   position: absolute;
//   display: none;
// }

// /* Show the checkmark when checked */
// .checkbox-container input:checked ~ .checkmark:after {
//   display: block;
// }

// /* Style the checkmark/indicator */
// .checkbox-container .checkmark:after {
//   left: 9px;
//   top: 5px;
//   width: 5px;
//   height: 10px;
//   border: solid white;
//   border-width: 0 3px 3px 0;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
// }

.checkbox-container {
  position: relative;
  padding-left: 32px;
  cursor: pointer;

  input {
    & ~ .checkmark {
      content: url("../vectors/checkbox-unchecked.svg");
      position: absolute;
      top: 0;
      left: 0;
    }

    &:checked ~ .checkmark {
      content: url("../vectors/checkbox-checked.svg");
    }
  }
}

input,
select {
  outline: none;
}

.custom-modal {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  background: $color6;
  border-radius: 14px;
  border: 1px solid $color7;
  width: 82.75%;
  max-width: 1260px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;

  @media screen and (max-width: 575px) {
    border-radius: 0;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 200px;
    height: 200px;
  }

  &::before {
    left: -95px;
    top: -90px;
    opacity: 0.1;
    background: radial-gradient(circle, #fff 0%, rgba(2, 0, 36, 0) 70%);

    @media screen and (max-width: 575px) {
      top: -30px;
      left: -85px;
    }
  }

  &::after {
    opacity: 0.06;
    left: 230px;
    top: 400px;
    background: radial-gradient(circle, $color3 0%, rgba(2, 0, 36, 0) 70%);

    @media screen and (max-width: 575px) {
      left: 170px;
      top: 598px;
    }
  }

  &.active {
    top: 30px;
    opacity: 1;
    pointer-events: all;
  }

  .close {
    position: absolute;
    top: 28px;
    right: 28px;
    cursor: pointer;

    @media screen and (max-width: 575px) {
      top: 15px;
      right: 15px;
    }
  }

  .feedback-content {
    padding: 100px 0 140px;
    max-width: 355px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media screen and (max-width: 575px) {
      max-width: 260px;
      padding-bottom: 70px;
      padding-left: 0;
      padding-right: 0;
    }

    .feedback-vector {
      @media screen and (max-width: 575px) {
        width: 100%;
        max-width: 178px;
      }
    }

    .success-vector {
      transform: translateX(-10px);

      @media screen and (max-width: 575px) {
        max-width: 216px;
      }
    }

    .title,
    .sub-title {
      padding-left: 10px;
      padding-right: 10px;
    }

    .title {
      margin-top: 44px;
      font-size: 30px;

      @media screen and (max-width: 575px) {
        font-size: 20px;
        margin-top: 26px;
      }
    }

    .sub-title {
      font-size: 14px;
      opacity: 0.6;

      @media screen and (max-width: 575px) {
        font-size: 10px;
      }
    }

    .btn-container {
      @media screen and (max-width: 340px) {
        padding-left: 25px;
        padding-right: 25px;

        .bg {
          width: 80%;
        }
      }
    }
  }

  .payment-content {
    .head,
    .body {
      background: $color6;
    }

    .head {
      .main {
        max-width: 430px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 70px 0 40px;

        @media screen and (max-width: 575px) {
          max-width: 260px;
        }

        @media screen and (max-width: 350px) {
          max-width: unset;
          padding-left: 8px;
          padding-right: 8px;
        }

        .title {
          font-size: 24px;

          @media screen and (max-width: 575px) {
            font-size: 20px;
          }
        }

        .sub-title {
          font-size: 14px;

          @media screen and (max-width: 575px) {
            font-size: 10px;
          }
        }
      }
    }

    .body {
      .tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $color7;
        border-left: 0;
        border-right: 0;
        margin-bottom: 22px;
        background: $color6;

        .tab {
          position: relative;
          opacity: 0.3;
          padding: 24px 35px;
          font-weight: 600;
          font-size: 14px;

          @media screen and (max-width: 365px) {
            padding-left: 20px;
            padding-right: 20px;
          }

          &.active {
            opacity: 1;
            @extend %primary-text-gradient;

            &::after {
              content: "";
              position: absolute;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background: $primary-linear-gradient;
              left: 50%;
              bottom: 14px;
              transform: translate(-50%, 0);
            }
          }
        }
      }

      .transactions {
        position: relative;
        height: 340px;
        overflow-y: auto;
        z-index: 1;

        &::-webkit-scrollbar {
          width: 2px;
        }

        .transaction {
          padding: 22px 72px;
          border: 1px solid $color7;
          border-left: 0;
          border-right: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: $color6;

          @media screen and (max-width: 767px) {
            padding-left: 30px;
            padding-right: 30px;
          }

          @media screen and (max-width: 575px) {
            padding-left: 12px;
            padding-right: 12px;
          }
        }
      }

      .new-card {
        padding: 0 72px;

        @media screen and (max-width: 767px) {
          padding: 0 30px;
        }

        @media screen and (max-width: 575px) {
          padding: 0 12px;
        }
      }

      .custom-form-control {
        position: relative;
        z-index: 1;

        &.select {
          z-index: 2;
        }
      }

      .pay-btn-container {
        padding-right: 72px;
        margin-bottom: 2rem;

        @media screen and (max-width: 767px) {
          padding: 0 30px;
        }

        @media screen and (max-width: 575px) {
          padding: 0 25px;
        }

        .btn-container {
          @media screen and (max-width: 575px) {
            max-width: unset;
            margin-top: 25px;
          }

          .bg {
            @media screen and (max-width: 575px) {
              top: 3vw;
            }

            @media screen and (max-width: 425px) {
              top: 6vw;
            }
          }
        }

        .btn {
          padding: 11px 26px;

          * {
            font-size: 13px;

            .amount {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .btn-container {
    margin-top: 50px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 575px) {
      width: 100%;
      margin-top: 128px;
    }

    .bg {
      top: 60%;
    }
  }
}

.text-yellow {
  @extend %primary-text-gradient;
}

.btn-container {
  flex-grow: 1;
  position: relative;

  .bg {
    pointer-events: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    top: 25%;
    opacity: 0.5;
    transition: 0.4s ease;
  }

  &:hover {
    .bg {
      opacity: 0.7;
    }
  }
}

.btn {
  border: none;
  background: transparent;

  &.btn-download {
    position: relative;
    background: $color4;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 14px;
    overflow: hidden;
    transition: 0.4s ease;

    &:hover {
      transform: translateY(-4px);
    }

    &::before {
      @extend %outline;
    }
  }

  &.primary {
    position: relative;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    background: $primary-linear-gradient;
    transition: 0.4s ease;

    &,
    * {
      color: $color5;
    }

    &::after {
      // content: url("./assets/vectors/bg-primary-btn.svg");
      // content: "";
      // position: absolute;
      // width: 80%;
      // height: 60%;
      // // background: linear-gradient(25deg, $color3, rgba(0, 0, 0, 0));
      // background: linear-gradient(
      //   to bottom,
      //   $color3 0%,
      //   rgba(2, 0, 36, 0) 100%
      // );
      // left: 50%;
      // top: 60%;
      // transform: translate(-50%, 0);
      // z-index: -1;
      // opacity: 0.5;
      // border-radius: 50px;
    }
  }
}

.download-btns {
  margin-top: 40px;

  .btn-container {
    margin: 0 15px;

    @media screen and (max-width: 575px) {
      margin: 0 10px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.label-container {
  position: relative;
  height: 14px;
  opacity: 0.2;
  margin: 28px 0;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% + 1px);
    transform: translateY(-50%);
    height: 1px;
    border-top: 1px solid #fff;
    z-index: 0;
  }

  .label {
    position: absolute;
    font-weight: 10px;
    padding: 0 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: $color2;
  }
}

.custom-form-control {
  position: relative;
  margin-bottom: 14px;

  &:before {
    @extend %outline;
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
  }

  .select-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    pointer-events: none;
    z-index: 2;
  }

  input,
  select {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 17px;
    padding-left: 60px;
    color: #fff;
    background-color: $color4;
    font-size: 14px;

    &::placeholder {
      opacity: 0.4;
    }
  }

  select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
  }

  select,
  input.no-icon {
    padding-left: 17px;
  }
}

.search-input-container {
  position: relative;

  img {
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    left: 24px;
  }

  input {
    border-radius: 14px;
    border: 1px solid $color7;
    font-size: 12px;
    padding: 12px;
    background: $color6;
    padding-left: 60px;
  }
}

.custom-select-container {
  border-radius: 10px;
  background: $color4;

  .selected-text {
    padding: 17px;
    cursor: pointer;
    opacity: 0.3;
    font-weight: 00;
    font-weight: 100;
    font-size: 14px;
  }

  // .selected-text::after {
  //   content: "";
  //   position: absolute;
  //   right: 10px;
  //   top: 16px;
  //   border: 7px solid transparent;
  //   border-color: black transparent transparent transparent;
  // }

  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 5px;
  }

  .select-options {
    position: absolute;
    margin-top: 1px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  li {
    list-style-type: none;
    padding: 8px 20px;
    cursor: pointer;
    background: $color4;
  }

  li:last-child {
    border-bottom: none;
  }

  li:hover {
    background: $color6;
  }

  .show-dropdown-options {
    min-height: 50px;
    opacity: 1;
    visibility: visible;
  }

  .hide-dropdown-options {
    min-height: 0;
    opacity: 0;
    visibility: hidden;
  }
}
